<html ng-app="douse">

<head>
    <title>Douse Skin Essentials</title>
    <link rel="stylesheet" href="resources/styles/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.8/angular-sanitize.js"></script>
    <script src="controller/homeController.js"></script>
</head>

<body ng-controller="homeController">
    <div class="header-title">Douse Skin Essentials</div>

    <div class="header">
        <div class="section">
            <div class="background logo"></div>
            <div class="logo-content">
                <div class="title">Douse Skin Essentials</div>
                <div>By</div>
                <div>Veronica Arielle</div>
                <div>Licensed Esthetician</div>
            </div>
        </div>
    </div>
    <div class="strip">
        <hr />
        Monthly Special
        <hr />
    </div>
    <div class="section" ng-repeat="section in specialServices" ng-click="toggleDescription(section)"
        ng-swipe-left="toggleDescription(section)" ng-swipe-right="toggleDescription(section)">
        <div class="background {{section.src}}"></div>
        <div class="content flex align-center no-swipe" ng-class="{'swipe': section.swiped}">
            <div class="full-screen-width">
                <div class="section-footer" ng-bind-html="section.service"></div>
            </div>
            <div class="full-screen-width">
                <div class="modal"></div>
                <div class="description">
                    <div class="margin-bottom-small description-header" ng-bind-html="section.service"></div>
                    <div class="single-description" ng-repeat="desc in section.description" ng-bind-html="desc"></div>
                </div>
            </div>
        </div>
        <div class="swipe-dot">
            <div class="circle" ng-class="{'fill': !section.swiped}"> </div>
            <div class="circle" ng-class="{'fill': section.swiped}"></div>
        </div>
    </div>
    <div class="strip">
        <hr />
        Essential Skincare Services
        <hr />
    </div>
    <div class="section" ng-repeat="section in skinCareServices" ng-click="toggleDescription(section)"
        ng-swipe-left="toggleDescription(section)" ng-swipe-right="toggleDescription(section)">
        <div class="background {{section.src}}"></div>
        <div class="content flex align-center no-swipe" ng-class="{'swipe': section.swiped}">
            <div class="full-screen-width">
                <div class="section-footer">{{section.service}}</div>
            </div>
            <div class="full-screen-width">
                <div class="modal"></div>
                <div class="description">
                    <div class="margin-bottom-small description-header">{{section.service}}</div>
                    <div class="single-description" ng-repeat="desc in section.description" ng-bind-html="desc"></div>
                    <div class="description-footer">{{section.footer}}</div>
                </div>
            </div>
        </div>
        <div class="swipe-dot">
            <div class="circle" ng-class="{'fill': !section.swiped}"> </div>
            <div class="circle" ng-class="{'fill': section.swiped}"></div>
        </div>
    </div>
    <div class="strip">
        <hr />
        Essential Makeup Services
        <hr />
    </div>
    <div class="section" ng-repeat="section in makeupServices" ng-click="toggleDescription(section)"
        ng-swipe-left="toggleDescription(section)" ng-swipe-right="toggleDescription(section)">
        <div class="background {{section.src}}"></div>
        <div class="content flex align-center no-swipe" ng-class="{'swipe': section.swiped}">
            <div class="full-screen-width">
                <div class="section-footer">{{section.service}}</div>
            </div>
            <div class="full-screen-width">
                <div class="modal"></div>
                <div class="description">
                    <div class="margin-bottom-small description-header">{{section.service}}</div>
                    <div class="single-description" ng-repeat="desc in section.description" ng-bind-html="desc"></div>
                    <div class="description-footer">{{section.footer}}</div>
                </div>
            </div>
        </div>
        <div class="swipe-dot">
            <div class="circle" ng-class="{'fill': !section.swiped}"> </div>
            <div class="circle" ng-class="{'fill': section.swiped}"></div>
        </div>
    </div>
</body>

</html>