.about {
    position: relative;

    @font-face {
        font-family: RockwellNovaBold;
        src: url("../fonts/RockwellNova-Bold.ttf");
    }

    @font-face {
        font-family: RockwellNova;
        src: url("../fonts/RockwellNova.ttf");
    }

    @media (min-width: 724px) {
        max-width: 1200px;
    }

    padding: 10px;

    .associate {
        filter: grayscale(1);
        width: 100%;
        height: auto;
        margin: 20px auto;
        max-width: 400px;
        min-height: 50vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    img {
        height: 25px;
        width: 25px;
        filter: grayscale(1);
    }

    #facebook {
        height: 15px;
        width: 15px;
        border: 1px solid #222;
        padding: 2px;
        border-radius: 5px;
        fill: #222;
    }
}
