$backgroundColor: #97cfd6;
$whiteBackgroundColor: #fff;
$borderColor: #333;
$maxBodyWidth: 1400px;

#home {
    min-height: 170vh;

    .header {
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 3px;
        background-color: black;
        color: #f1f1f1;

        .title {
            font-size: 25px;
            padding-top: 10px;

            @media (min-width: 1000px) {
                font-size: 30px;
            }
        }

        .links {
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex: 1;
            max-width: 700px;
            margin: 0 auto;
            user-select: none;

            @media (min-width: 724px) {
                font-size: 14px;
            }

            .link {
                cursor: pointer;
                padding: 15px 5px 5px 5px;
                margin: 0 10px;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid #e1e1e1;
                }
            }
        }

        .notification {
            padding: 10px 5px;
        }
    }

    .body-content {
        position: relative;
        max-width: $maxBodyWidth;
        margin: 0 auto;

        .container-fluid {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 1200px;
            max-width: 100vw;

            .category-row {
                position: relative;
                padding: 0 10px;
                margin: 20px 0;
                box-sizing: border-box;
                transition: all 0.75s ease-out, position 1s linear 1s;

                &.zoomOut {
                    transition: all 0.75s ease-out, position 1s linear 1s;
                    pointer-events: none;
                    z-index: -1;
                    position: absolute;
                }

                .category {
                    height: 50vh;
                    border: 1px solid black;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    box-shadow: 0px 0px 7px 1px #222;
                    cursor: pointer;
                    border-radius: 3px;

                    &:hover {
                        transition: all 0.4s ease-out 0.1s;
                        transform: scale(1.08);
                        z-index: 1;
                    }
                }
            }
        }

        .top-category-title {
            font-weight: bold;
            user-select: none;
            color: #525252;
            text-shadow: 2px 1px 0px #222;
            white-space: wrap;
            text-align: center;
            width: 100%;
            font-size: 25px;
            opacity: 1;
            transition: all 0.3s ease-out;
            padding-bottom: 20px;
        }

        .services {
            position: relative;
            padding: 20px 50px 50px;
            margin: auto;
            max-width: 800px;

            .close {
                color: #525252;
                position: absolute;
                top: 10px;
                left: 4vw;
                font-weight: bold;
                cursor: pointer;
                user-select: none;

                .close-title {
                    margin: 0 4px;
                }

                @media (max-width: 500px) {
                    top: -45px;
                    right: 15px;
                }
            }

            .service {
                padding: 10px;
                margin: 20px auto;
                background-color: #525252;
                max-width: 300px;
                border-radius: 5px;
                box-shadow: 1px 1px 4px 0px black;
                font-size: 18px;
                user-select: none;
                cursor: pointer;
                color: white;

                .service-name {
                    transition: all 0.2s linear;
                }

                &:hover {
                    box-shadow: 3px 3px 4px 0px black;

                    .service-name {
                        transition: all 0.2s linear;
                        position: relative;
                        top: 2px;
                    }
                }
            }

            .options {
                padding: 10px 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s ease-in 0.1s, z-index 0.3s ease-in 0.1s;
                z-index: -1;

                .service-image {
                    width: 300px;
                    height: 300px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin: auto;
                }

                &.selected {
                    position: relative;
                    transform: none;
                    top: auto;
                    left: auto;
                    opacity: 1;
                    z-index: 0;
                }

                .option {
                    margin-bottom: 20px;

                    .option-title {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .service-category.logo .section,
    .service-category.special .section {
        height: 60vh;

        @media (max-width: 1400px) {
            height: 40vh;
            width: 100%;
        }

        .background {
            background-size: cover;
            filter: grayscale(0);
        }
    }

    .stop-scroll {
        overflow: hidden;
        max-height: 80vh;
    }

    .modal-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: #222;

        opacity: 0;
        transition: all 0.19s ease-out;
        pointer-events: none;

        &.showing {
            opacity: 0.5;
            transition: all 0.21s ease-in;
            pointer-events: unset;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;

        opacity: 0;
        transition: all 0.19s ease-out;
        pointer-events: none;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: baseline;

        &.showing {
            opacity: 1;
            transition: all 0.21s ease-in;
            pointer-events: inherit;
        }

        .hours {
            position: relative;
            top: 85px;
            background-color: #f1f1f1;
            border: 1px solid black;
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
        }

        @media (min-width: 724px) {
            max-width: 1200px;
        }

        img {
            height: 25px;
            width: 25px;
            filter: grayscale(1);
        }

        #facebook {
            height: 20px;
            width: 22px;
            border: 1px solid #222;
            padding: 2px;
            border-radius: 5px;
            fill: #222;
            margin-left: 4px;
        }
    }

    .toTop {
        border: 1px solid black;
        padding: 10px;
        width: 25px;
        height: 25px;
        position: fixed;
        bottom: 25px;
        right: 25px;
        z-index: 10;
        background-color: #fbfbfb;
        display: flex;
        justify-content: center;

        .triangle-up {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;

            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }
}

.fullscreen-image {
    max-width: 1200px;

    &.showing {
        position: fixed;
        top: 150px;
        z-index: 100;

        img {
            width: 100%;
        }
    }
}
