#magazine {
    .close {
        font-family: sans-serif;
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: bold;
        padding: 2px 6px;
        font-size: 14px;
        z-index: 10;
        color: #51c565;
        border-radius: 50%;
        border: 1px solid #51c565;
        cursor: pointer;
        box-sizing: border-box;
    }

    .section {
        height: 100%;
    }
}
