$backgroundColor: #97cfd6;
$whiteBackgroundColor: #fafafa;
$borderColor: #333;

html {
    height: 100%;
}

body {
    text-align: center !important;
    font-family: "Roboto", sans-serif !important;
    margin: 0;
    color: #222;
    margin: auto;
    background-color: #fbfbfb;
    height: 100%;
    overflow-x: hidden;

    &.paper-background {
        background-color: $whiteBackgroundColor;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: $backgroundColor;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #222;
}

*::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 5px;
    border: 1px solid;
}

@font-face {
    font-family: "5thgrade-cursive";
    src: url("../fonts/5thgradecursive-2.ttf");
}
@font-face {
    font-family: RockwellNovaBold;
    src: url("../fonts/RockwellNova-Bold.ttf");
}

@font-face {
    font-family: RockwellNova;
    src: url("../fonts/RockwellNova.ttf");
}

.pointer-events-none {
    pointer-events: none;
}

.stop-scroll {
    overflow: hidden;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-content: center;
    align-items: center;
}

.align-bottom {
    align-content: flex-end;
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.swipe {
    transform: translateX(-100%);
    transition: all 0.2s linear;
}

.no-swipe {
    transition: all 0.2s linear;
}
.margin-bottom-small {
    margin-bottom: 10px !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-bottom-large {
    margin-bottom: 40px;
}

.main-page-bottom {
    margin-bottom: 100px;
}

.full-screen-width {
    max-width: 1200px;
    height: 100%;
    flex: 1 0 auto;
    min-width: 100%;
}

.padding {
    padding: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.swipe-dot {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.strip {
    padding: 10px;
    font-size: 22px;
    background-color: $backgroundColor;
    position: relative;
}

.underline {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.auto {
    margin: auto;
}

a {
    display: block;
    color: black;
    padding: 0 10px;

    &.no-style {
        color: black;
        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
}

.hidden {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
}

.close {
    padding: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    cursor: pointer;

    svg {
        width: 25px;
        height: 25px;
        path {
            fill: #e27b7b;
        }
    }
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;

    img {
        width: 441px;
        height: 291px;
    }
}
