.section {
  position: relative;
  width: 100%;
  height: 60vh;
  top: 0;
  margin: 25px 0;
  font-family: RockwellNova !important;
  overflow: hidden;

  .logo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .previous-btn,
  .next-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 2;
    opacity: 0.2;
  }

  .next-btn {
    right: 0;
    left: auto;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .section-footer {
    font-size: 1.3em;
    position: absolute;
    bottom: 30px;
    color: white;
    left: 0;
    text-align: left;
    padding: 0px 15px;
    background-color: #2a4d48;

    @media (max-width: 500px) {
      font-size: 0.85em;
    }
  }

  .section-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #444;
    opacity: 0.8;
  }

  .description {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 0.8em;
    color: white;
    padding: 15px;
    box-sizing: border-box;

    @media (min-width: 600px) {
      font-size: 1.1em;
    }

    .description-header {
      font-size: 1.5em;
      width: 100%;
      @media (min-width: 600px) {
        font-size: 2em;
      }
    }

    .single-description {
      display: flex;
      align-content: center;
      align-items: center;
    }

    .description-footer {
      position: absolute;
      bottom: 25px;
      left: 10px;
      font-size: 0.8em;
      font-style: italic;
      text-align: left;
    }
  }

  .circle {
    border: 3px solid white;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 0 5px;

    &.fill {
      background-color: white;
    }
  }

  .strike {
    text-decoration: line-through;
    padding: 0 5px;
  }

  .background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(1);

    &.descr {
      background-color: white;
    }

    @media (min-width: 600px) {
      background-size: contain;
    }

    &.logo {
      background-image: url("../images/background.jpg?n=11");
      background-size: contain;
      filter: grayscale(0);
    }

    &.facial2 {
      background-image: url("../images/facial2.jpg?n=11");
    }

    &.facial {
      background-position: 50% 29%;
      background-image: url("../images/facial.jpg?n=11");
    }

    &.backfacial {
      background-image: url("../images/backfacial.jpg?n=11");
    }

    &.volumelashes {
      background-image: url("../images/volumelashes.jpg?n=11");
      background-position: 50% 22%;
    }

    &.minime {
      background-image: url("../images/minime.jpg?n=11");
      background-size: 150%;
      background-color: #d5d5d5;
      background-position: top;

      @media (min-width: 600px) {
        background-size: contain;
        background-position: center;
      }
    }

    &.makeup {
      background-image: url("../images/makeup.jpg?n=11");
    }

    &.microderm {
      background-image: url("../images/microderm.jpg?n=11");
    }

    &.special {
      background-size: contain;
      background-image: url("../images/special.jpg?n=11");
    }

    &.eventful {
      background-image: url("../images/eventful.jpg?n=11");
    }

    &.bride {
      background-image: url("../images/bride.jpg?n=11");
    }

    &.packages {
      background-image: url("../images/packages.jpg?n=11");
    }

    &.cucumber {
      background-image: url("../images/cucumber.jpg?n=11");
    }

    &.expressfacial {
      background-image: url("../images/expressfacial.jpg?n=11");
    }

    &.lashes {
      background-image: url("../images/lashes.jpg?n=11");
    }

    &.lashremoval {
      background-image: url("../images/lashremoval.jpg?n=11");
    }

    &.salts {
      background-image: url("../images/salts.jpg?n=11");
    }

    &.backmicroderm {
      background-image: url("../images/backmicroderm.jpg?n=11");
    }

    &.magazine01 {
      background-image: url("../images/magazine01.jpg?n=11");
    }

    video {
      width: 100%;
      height: 100%;
    }
  }
}
