<div class="about">
    <div class="close" ng-click="close()">X</div>
    <div class="md-detail">Veronica Arielle</div>
    <div class="sm-detail padding-bottom">Licensed Esthetician</div>
    <img src="resources/images/veronica.jpg?n=9" class="associate veronica margin-bottom" />
    <div class="sm-detail underline" ng-click="openAddress()">15310 Amberly Dr. Suite 250</div>
    <div class="sm-detail underline" ng-click="openAddress()">Tampa, FL. 33647</div>
    <div class="xsm-detail" ng-click="openAddress()">On 2nd Floor, Suite 250</div>
    <div class="xsm-detail padding-bottom" ng-click="openAddress()">Stop at receptionist to check-in</div>
    <div class="sm-detail">Sessions by Appointment Only</div>
    <div class="sm-detail">Text 863.899.4799</div>
    <div class="sm-detail flex align-center justify-center">
        <img src="resources/images/instagram.png" />
        <a href="https://www.instagram.com/douseskinessentials/">douse.skin.essentials</a>
    </div>
    <div class="sm-detail flex align-center justify-center">
        <img src="resources/images/facebook-icon.jpg" />
        <a href="https://www.facebook.com/douse.skin.essentials/">douse skin essentials</a>
    </div>
</div>