<div id="full-service">
  <div class="full-service-content">
    <div id="type-background" class="background {{service.fullserviceCssClass}}"
      ng-attr-style="background-image: url('{{service.ImageUrl}}')"></div>
    <div class="full-content">
      <div class="title">{{service.title}}</div>
      <div class="main-description" ng-bind-html='service.Description'></div>
      <div class="flex align-center justify-around type-list">
        <div ng-repeat="type in service.types" ng-if="service.types.length > 1" class="type"
          ng-class="{'selected': selectedTypeIndex === $index}" ng-click="selectType($index)">
          {{type.title}}
        </div>
      </div>
      <div class="type-content animated" ng-repeat="type in service.types" ng-class="{'fadeIn': type.title === service.types[selectedTypeIndex].title || service.types.length === 1,
            'selected': type.title === service.types[selectedTypeIndex].title || service.types.length === 1 }">
        <div ng-bind-html="type.description"></div>
        <div class="type-footer">
          <div ng-bind-html='type.footer' ng-if="type.footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>