<div ng-cloak id="home">
    <div class='loading flex align-center justify-center' ng-if='loading'>
        <img src="resources/images/loading.gif" />
    </div>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHH6JX8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="header">
        <div class='title'>
            <div class="top">Douse Skin</div>
            <div class="bottom">Essentials</div>
        </div>
        <div class="flex align-center justify-around animated slideInDown">
            <div class="flex wrap links">
                <div class="link" ng-click="goTo('bookNow')" ng-if="business.bookNow">Book</div>
                <div class="link" ng-click="goTo('address')" ng-if="(business.googleMap || business.iosMap)">Map
                </div>
                <div class="link" ng-click="toggleModal('hours')" ng-if="business.hours">Hours</div>
                <div class="link" ng-click="goToLink('https://squareup.com/gift/8EHFVZAQP5A6S/order')">
                    eGift Card</div>
                <div class="link" ng-click="goTo('about')">
                    Contact Me</div>
            </div>
        </div>
        <div class="notification" ng-bind-html="business.Notification"></div>
    </div>
    <div class="body-content">
        <service-section ng-if="business" ignore-selection="true" service-category="business.homeLogo" class="logo">
        </service-section>
        <div class="container-fluid">
            <div class='row'>
                <div ng-repeat="category in business.categories" class='col-md-6 col-sm-12 category-row animated'
                    ng-click='selectCategory(category)' ng-class="{'zoomOut': selectedCategory }">
                    <div class="top-category-title">{{category.CategoryName}}</div>
                    <div class="category" ng-attr-style="background-image: url('{{category.Services[0].ImageUrl}}'">
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="close" ng-click='closeCategory()'>
                X
            </div>
            <div ng-repeat="service in selectedCategory.Services" ng-click="toggleService(service)">
                <div class="service">
                    <div class="service-name">{{service.Title}}</div>
                </div>
                <div class='options' ng-class="{'selected': service.Id === selectedService.Id}">
                    <div class="option" ng-repeat="option in selectedService.types">
                        <div>{{option.title}} <div ng-bind-html="option.description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background" ng-class="{'showing': showingModal}" ng-click="toggleModal()"></div>
    <div class="modal" ng-class="{'showing': showingHours}" ng-if="business.hours" ng-click="toggleModal('hours')">
        <div class="hours">
            <div ng-bind-html='business.hours'></div>
        </div>
    </div>

    <div class="toTop" ng-show="showBackToTopButton" ng-click="backToTop()">
        <div class="triangle-up"></div>
    </div>
</div