<div id="networking-event">
    <div class="close-btn flex align-center" ng-click="goTo('home')">&larr;</div>
    <div class="event-title">Holiday Networking Event</div>
    <table class="events">
        <thead>
            <tr>
                <th class="event-header">Participating Business</th>
                <th class="event-header">Description</th>
                <th class="event-header">Treats & Giveaways</th>
            </tr>
        </thead>
        <tr class="event-row aqua">
            <td>
                <div>Douse Skin Essentials</div>
                <div>By Veronica Arielle</div>
            </td>
            <td>
                <div>Skincare, lash extension & makeup (bathsalts)</div>
            </td>
            <td>
                <div>Door Prizes</div>
                <div>Mini bath salts</div>
                <div>Service Specials</div>
                <div>Service Giveaways</div>
            </td>
        </tr>
        <tr class="event-row">
            <td>
                <div>Custom Design House</div>
                <div>Kaylin Patrice</div>
            </td>
            <td>
                <div>Custom tshirt, clothing, gifts & accessories</div>
            </td>
            <td>
                <div>Gift basket giveaway</div>
                <div>Vouchers to set your own custom made goodies</div>
            </td>
        </tr>
        <tr class="event-row aqua">
            <td>
                <div>Lume</div>
                <div>Lindsey Rubright</div>
            </td>
            <td>
                <div>Affliate with Lume brand of selfcare</div>
            </td>
            <td>
                <div>Sample & purchase Lume selfcare products</div>
            </td>
        </tr>
        <tr class="event-row">
            <td>
                <div>Ciccio Cali</div>
            </td>
            <td>
                <div>Comfort food with a healthy twist</div>
            </td>
            <td>
                <div>Enjoy catered hors d'oeuvres</div>
            </td>
        </tr>
    </table>
</div>