<div class="section {{section.service}}" ng-repeat="section in service" ng-swipe-left="nextPage(section)"
    ng-swipe-right="previousPage(section)">
    <div class="previous-btn" ng-click="previousPage(section, true)"></div>
    <div class="next-btn" ng-click="nextPage(section, true)"></div>
    <div class="content" ng-if="section.type !== 'video'">
        <div class="background {{section.src}}" ng-class="{'contain': section.src.indexOf('magazine') > -1}"></div>
        <div class="section-footer" ng-if="section.page === 0 && section.service" ng-bind-html="section.service"></div>
    </div>
    <div class="section-content flex align-center no-swipe swipe-{{section.page}}" ng-if="section.type !== 'video'">
        <div ng-repeat="descr in section.descriptions track by $index" class="full-screen-width relative">
            <div class="background descr flex align-center justify-center"
                ng-if="descr.src && descr.src.indexOf('.mp4') > -1 && $index + 1 === section.page">
                <video autoplay="true" muted loop>
                    <source ng-src="{{descr.src}}" type="video/mp4">
                </video>
            </div>
            <div ng-if="!descr.src || descr.src.indexOf('.mp4') === -1">
                <div class="background descr" ng-if="descr.src"
                    ng-class="{'contain': descr.src.indexOf('magazine') > -1}"
                    ng-style="{'background-image': 'url({{descr.src}})'}"></div>
                <div class="transparent-description-background" ng-if="descr.description"></div>
                <div class="description" ng-if="descr.description">
                    <div class="margin-bottom-small description-header flex align-center justify-center"
                        ng-bind-html="section.service"></div>
                    <div ng-repeat="description in descr.description" class="single-description"
                        ng-bind-html="description">
                    </div>
                    <div class="description-footer">
                        <div ng-repeat="footer in descr.footer track by $index" ng-bind-html="footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swipe-dot" ng-if="section.descriptions.length > 0">
        <div class="circle" ng-class="{'fill': section.page === 0}"> </div>
        <div class="circle" ng-repeat="descr in section.descriptions" ng-class="{'fill': section.page === $index + 1}">
        </div>
    </div>
</div>