<div class="section" ng-repeat="section in service" ng-click="nextPage(section)" ng-swipe-left="nextPage(section)"
    ng-swipe-right="previousPage(section)">
    <div class="background {{section.src}}"></div>
    <div class="section-content flex align-center no-swipe swipe-{{section.page}}">
        <div class="full-screen-width">
            <div class="section-footer flex align-center" ng-bind-html="section.service"></div>
        </div>
        <div ng-repeat="descr in section.descriptions">
            <div class="full-screen-width">
                <div class="modal"></div>
                <div class="description">
                    <div class="margin-bottom-small description-header" ng-bind-html="section.service"></div>
                    <div ng-repeat="description in descr.description" class="single-description"
                        ng-bind-html="description"></div>
                    <div class="description-footer">
                        <div ng-repeat="footer in descr.footer track by $index" ng-bind-html="footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swipe-dot">
        <div class="circle" ng-class="{'fill': section.page === 0}"> </div>
        <div class="circle" ng-repeat="descr in section.descriptions" ng-class="{'fill': section.page === $index + 1}">
        </div>
    </div>
</div>